body{
  margin:0;
}
h1{

  text-align:center;
  border-bottom: 4px solid gray;
  margin:0;
  padding:20px;
}
a{
  text-decoration:none;
  color:pink;
}
ul{
  font-size:20px;
  width:100px;
  border-right:3px solid gray;
  margin:0;
  padding:20px;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
#grid ul{
  padding-left:33px;
}
#grid #article{
  padding-left:20px;
}
@media(max-width:700px){
  #grid{
    display:block;
  }
  ul{
    border-right:none;
    border-bottom:3px solid gray;
  }

}
